[Desktop Entry]
Type=Application

Name=Lenspect
Name[pt_BR]=Lenspect
Name[bg]=Lenspect
Name[es]=Lenspect
Name[he]=Lenspect
Name[ja]=Lenspect
Name[nl]=Lenspect
Name[ru]=Lenspect
Name[uk]=Lenspect

Comment=Lenspect is a free malware scanner for Linux using the VirusTotal API
Comment[pt_BR]=O Lenspect é um scanner de malware gratuito para Linux que utiliza a API do VirusTotal
Comment[bg]=Lenspect е безплатен скенер за злонамерен софтуер за Linux, който използва API на VirusTotal
Comment[es]=Lenspect es un escáner de malware gratuito para Linux que utiliza la API de VirusTotal
Comment[he]=Lenspect הוא סורק נוזקות חינמי עבור לינוקס המשתמש ב-API של VirusTotal
Comment[ja]=Lenspectは、VirusTotal APIを利用するLinux向けの無料マルウェアスキャナです
Comment[nl]=Lenspect is een gratis malware-scanner voor Linux die de VirusTotal API gebruikt
Comment[ru]=Lenspect — бесплатный сканер вредоносных программ для Linux с использованием API VirusTotal
Comment[uk]=Lenspect — безкоштовний сканер шкідливого програмного забезпечення для Linux з використанням API VirusTotal

Exec=flatpak run io.github.vmkspv.lenspect

# Fora do sandbox

# Copie manualmente o ícone de lenspect/data/icons/hicolor/scalable/apps/ para /var/lib/flatpak/exports/share/icons/hicolor/scalable/apps/

# Manually copy the icon from lenspect/data/icons/hicolor/scalable/apps/ to /var/lib/flatpak/exports/share/icons/hicolor/scalable/apps/

Icon=/var/lib/flatpak/exports/share/icons/hicolor/scalable/apps/lenspect-11.png


# Executa o .desktop de dentro do Flatpak

# Icon=data/icons/hicolor/scalable/apps/lenspect-11.png


Terminal=false
Categories=Utility;Security;Scanner;
StartupNotify=true

Keywords=flatpak;malware;scanner;security;virus;threat;Lenspect
Keywords[pt_BR]=flatpak;malware;scanner;segurança;vírus;ameaça;Lenspect
Keywords[bg]=flatpak;злонамерен софтуер;скенер;сигурност;вирус;заплаха;Lenspect
Keywords[es]=flatpak;malware;escáner;seguridad;virus;amenaza;Lenspect
Keywords[he]=נוזקות;סריקה;אבטחה;וירוס;איום;Lenspect;flatpak
Keywords[ja]=マルウェア;スキャナ;セキュリティ;ウイルス;脅威;Lenspect;flatpak
Keywords[nl]=flatpak;malware;scanner;beveiliging;virus;dreiging;Lenspect
Keywords[ru]=flatpak;вредоносное ПО;сканер;безопасность;вирус;угроза;Lenspect
Keywords[uk]=flatpak;шкідливе ПЗ;сканер;безпека;вірус;загроза;Lenspect

