@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

*:drop(active) {
  box-shadow: none;
}

.overlay-background {
  background-color: color-mix(in srgb, var(--window-bg-color) 90%, transparent);
}

.overlay-status {
  background-color: color-mix(in srgb, var(--accent-bg-color) 8%, transparent);
  border-radius: 12px;
  border: 2px dashed color-mix(in srgb, currentColor var(--dim-opacity), transparent);
  color: var(--accent-color);
  margin: 12px;
}

.overlay-status label {
  opacity: var(--dim-opacity);
}

.property-row {
  animation: fadeIn 500ms ease-out;
}

button.suggested-action.pill {
  box-shadow: 0 1px 3px color-mix(in srgb, var(--window-fg-color) 12%, transparent),
              0 1px 2px color-mix(in srgb, var(--window-fg-color) 24%, transparent);
  transition: all 200ms ease;
}

button.suggested-action.pill:active {
  box-shadow: 0 1px 2px color-mix(in srgb, var(--window-fg-color) 8%, transparent),
              0 1px 1px color-mix(in srgb, var(--window-fg-color) 16%, transparent);
  transform: translateY(0px);
}

button.suggested-action.pill:hover {
  box-shadow: 0 2px 6px color-mix(in srgb, var(--window-fg-color) 16%, transparent),
              0 2px 4px color-mix(in srgb, var(--window-fg-color) 12%, transparent);
  transform: translateY(-1px);
}
